<div class="quiz-container">
  <ng-container *ngIf="selectedQuestionIndex === null; else singleQuestionView">
    <div *ngFor="let question of questions; let i = index"
         class="question-box"
         (click)="auswahlQuestion(i)">
      <h4 class="question-title">Question {{i + 1}}: {{question.question}}</h4>
      <div class="options-container">
        <div *ngFor="let option of question.options; let j = index" class="option">
          <p>{{j + 1}}. {{option}}</p>
        </div>
      </div>
      <button (click)="antwortZeigen(i); $event.stopPropagation();">Antwort zeigen</button>
      <button routerLink="">beenden</button>
      <div *ngIf="question.showAnswer" class="answer-container">
        <p>Richtige Antwort ist: {{question.correctAnswer}}</p>
      </div>
    </div>
  </ng-container>

  <ng-template #singleQuestionView>
    <div class="selected-question-box">
      <h4 class="question-title">Question {{selectedQuestionIndex! + 1}}: {{questions[selectedQuestionIndex!].question}}</h4>
      <div class="options-container">
        <div *ngFor="let option of questions[selectedQuestionIndex!].options" class="option">
          <p>{{option}}</p>
        </div>

      </div>
      <button (click)="antwortZeigen(selectedQuestionIndex!)">Antwort zeigen</button>

      <div *ngIf="questions[selectedQuestionIndex!].showAnswer" class="answer-container">
        <p>Richtige Antwort ist: {{questions[selectedQuestionIndex!].correctAnswer}}</p>
      </div>
      <div class="button-container">
        <div class="button-row">
          <button (click)="onBack()" class="nav-button">zurück</button>
          <button (click)="OnNext()" class="nav-button">nächste</button>
        </div>
        <div class="button-row">
          <button class="nav-button" routerLink="">beenden</button>
          <button class="back-button" (click)="nauswahlQuestion()">zur Liste</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
