/* Temel stiller */
.quiz-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

.question-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

.question-title {
  font-size: 18px;
  font-weight: bold;
}

.options-container {
  margin-top: 10px;
}

.option {
  margin: 5px 0;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

.answer-container {
  margin-top: 10px;
  background-color:rgb(95, 209, 207);
}

/* Seçili soru görünümü */
.selected-question-box {
  border: 2px solid #007bff;
  padding: 20px;
  background-color: #f0f0f0;
}

.button-container {
  margin-top: 20px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav-button {
  background-color: #007bff;
}

.back-button {
  background-color: #007bff;
  color: #fff;
}

