.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

h2 {
  font-size: 30 px;
  color: black;
  margin-block-end: 4%;
}



.btn-container {
  color:#4c6faf;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.btn {
  font-size: 20px ;
  padding: 10px 75px;
  margin-right: 10px;

}
