<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">





<div class="container">
  <h2>WILLKOMMEN ZU LLCE-APP </h2>
  <img src="https://images.idgesg.net/images/article/2017/05/linux-distros-100724403-large.jpg" alt="">
  <div class="btn-container">
    <button class="btn btn-primary btn-lg btn spacer" routerLink="learn">Learn</button>
    <button class="btn btn-primary btn-lg btn spacer" routerLink="check">Check</button>
    <button class="btn btn-primary btn-lg btn spacer" routerLink="exam">Exam</button>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
